
.env
old_requirements.txt
*.pyc
__pycache__/dataset.cpython-310.pyc
__pycache__/dataset.cpython-310.pyc
__pycache__/dataset.cpython-310.pyc
firas-client.code-workspace
toadd.md
pdfs/Umrah.pdf
pdfs/Services-Mosque.pdf
pdfs/Sacrafice.pdf
pdfs/Muzdalefa.pdf
pdfs/Mosque.pdf
pdfs/Makkah.pdf
pdfs/Ihram.pdf
pdfs/Health.pdf
pdfs/Haram.pdf
pdfs/Arafa.pdf
pdfs/Al-Jamarat.pdf
debug.log
