Flask==2.3.2
Werkzeug==2.3.4
twilio
googletrans==4.0.0rc1
PyPDF2==3.0.1
pinecone-client==2.2.1
langchain
openai
python-dotenv
gunicorn
boto3
scikit-learn
tiktoken
unstructured
pdf2image
azure.core
mysql-connector-python